<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="BlogEntities" connectionString="Server=21b8d364-2936-49d5-bc56-a22c016fedcf.sqlserver.sequelizer.com;Database=db21b8d364293649d5bc56a22c016fedcf;User ID=vgvynzovjrnhbyid;Password=kjTUNp7vYYLrr654fDSHtZuCf7vQGcn6Je8ivxMKsDiRsrHyUKnGoTWsWpNQ3pVW;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>